/***** Below 1500px *****/

@media (max-width: 1500px) {
  .section-contact-homepage .contact-title {
    font-size: 3.6rem;
  }
}

/***** End Below 1500px *****/

/***** Below 1260px *****/

@media (max-width: 1260px) {
  html {
    font-size: 56.25%;
  }
  .section-hero--image img {
    width: 90%;
  }
  .footer-logo-img {
    width: 50%;
  }
  .section-contact-homepage .contact-title {
    font-size: 3rem;
  }
  .choose-center--div figure::before {
    width: 35rem;
    height: 35rem;
  }
  .choose-center--div figure::after {
    width: 40rem;
    height: 40rem;
  }
}

/***** End Below 1260px *****/

/***** Below 980px *****/

@media (max-width: 980px) {
  html {
    font-size: 50%;
  }
}

/***** End Below 980px *****/

/***** Below 870px *****/

@media (max-width: 870px) {
  .section-hero .grid .hero-heading {
    font-size: 3.6rem;
  }
  .section-courses .grid-col--4,
  .section-blog .grid-col--4 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .section-contact-homepage .contact-title {
    font-size: 2.4rem;
  }
  .section-contact-homepage p {
    font-size: 1.4rem;
  }
  .section-contact-homepage .btn {
    font-size: 1.4rem;
  }

  .choose-center--div figure::before {
    width: 30rem;
    height: 30rem;
  }
  .choose-center--div figure::after {
    width: 35rem;
    height: 35rem;
  }
}
/***** End Below 870px *****/

/***** Below 730px *****/

@media (max-width: 730px) {
  html {
    font-size: 43.75%;
  }

  .section-navbar .container {
    flex-direction: column;
  }
  .section-navbar .container .brand-logo {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  .section-navbar .container .nav-item a {
    font-size: 2rem;
  }

  .section-hero {
    text-align: center;
  }
  .section-hero .grid-col--2 {
    grid-template-columns: 1fr;
  }
  .section-hero .section-hero--image {
    order: 1;
    /* & figure {
      text-align: center;
    } */
  }
  .section-hero .section-hero--image img {
    width: 40%;
  }
  .section-hero .section-hero--content {
    order: 2;
  }

  .about-div .icon img {
    width: 12rem;
  }

  footer .grid-col--4 {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .footer-1--div {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    margin-top: 5.2rem;
  }
  footer .footer-1--div .social-footer--icons a .fa-brands {
    width: 4rem;
    font-size: 2rem;
  }
  footer .footer-2--div,
  .footer-3--div,
  .footer-4--div {
    text-align: left;
  }
  footer .footer-logo-img {
    width: 20%;
  }

  .section-why--choose .grid {
    gap: 6.4rem;
  }
  .section-why--choose .choose-center--div {
    order: 1;
  }
  .section-why--choose .choose-center--div figure::before {
    width: 0;
    height: 0;
    padding: 0;
    background-color: transparent;
  }
  .section-why--choose .choose-center--div figure::after {
    width: 0;
    height: 0;
    padding: 0;
    background-color: transparent;
  }
  .section-why--choose .choose-left--div {
    order: 2;
  }
  .section-why--choose .choose-right--div {
    order: 3;
  }

  .section-why--choose .text-align--right .why-choose--div {
    align-items: start;
    text-align: left;
  }
}

/***** End Below 730px *****/

/***** Below 650px *****/

@media (max-width: 650px) {
  .section-about .grid-col--3 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/***** End Below 650px *****/

/***** Below 580px *****/

@media (max-width: 580px) {
  .grid-col--3 {
    grid-template-columns: 1fr;
  }

  .grid-col--2 {
    grid-template-columns: 1fr;
  }

  .section-contact .grid {
    gap: 6.4rem;
  }

  .container {
    padding: 6.4rem 5.2rem;
  }

  .section-why--choose .grid {
    gap: 3rem;
  }
  .section-why--choose .choose-center--div img {
    width: 50%;
  }

  .section-contact-homepage {
    text-align: center;
  }
  .section-contact-homepage .contact-content {
    order: 2;
  }
  .section-contact-homepage .contact-image {
    order: 1;
  }
}

/***** End Below 580px *****/

/***** Below 376px *****/

@media (max-width: 376px) {
  html {
    font-size: 37%;
  }

  .section-navbar .navbar ul {
    display: flex;
    gap: 2.4rem;
  }
  .section-navbar .container .nav-item a {
    font-size: 1.8rem;
  }
  .section-navbar .nav-logo-img {
    width: 25%;
  }

  .section-hero .grid-col--2 .section-hero--image img {
    width: 50%;
  }

  /* .section-hero {
    & .grid {
      & .hero-heading {
        font-size: 3rem;
      }
      & .hero-subheading {
        font-size: 1.6rem;
      }
      & .hero-para {
        font-size: 1.6rem;
      }
    }
  } */
  .section-why--choose .choose-center--div img {
    width: 30%;
  }

  .section-contact-homepage .container {
    padding: 6.4rem 3.6rem;
  }
}

/***** End Below 376px *****/

/***** Below 320px *****/

@media (max-width: 320px) {
  .section-navbar .container .nav-item a {
    font-size: 1.6rem;
  }
  .section-navbar .container .navbar ul {
    display: flex;
    gap: 1.8rem;
  }
  .section-courses .grid-col--4,
  .section-blog .grid-col--4 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

/***** End Below 320px *****/
